@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <button type="button" class="btn text-light m-4" style="background-color: #76AC6D"><a style="text-decoration: none; color: inherit;" asp-area="" asp-controller="mesas" asp-action="Index">Comenzar</a></button>
</div>
