<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ModuloMesero</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ModuloMesero.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #426B1F" asp-area="" asp-controller="Home" asp-action="Index">Dulce Sabor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="mesas" asp-action="Index">Mesas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cuenta" asp-action="Index">Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-sucess" asp-area="" asp-controller="Detalle_Pedido" asp-action="Index">Detalle del Pedido</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-sucess" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                    </ul>
                    
                        <form class="d-flex" role="search">
                            <button type="button" class="btn custom-button btn-secondary btn-sm custom-margin">Detalle Pedidos</button>
                            <button type="button" class="btn custom-button btn-secondary btn-sm custom-margin">Mesas</button>
                            <button type="button" class="btn btn_2 btn-secondary btn-sm custom-margin">Cuentas</button>
                        </form>

                    
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light" style="background-color: #426B1F">
        <div class="container">
            Dulce Sabor
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @*Aquí comienzan los style*@

    <style>
        .custom-margin {
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 15px;
            margin-top: 15px;
        }
    </style>

    <style>
        .custom-img {
            width: 200px; /* Establecer ancho */
            height: 150px; /* Establecer alto */
        }
    </style>

    <style>
        .text-custom {
            color: #426B1F; /* Puedes cambiar este valor hexadecimal por cualquier color deseado */
        }
    </style>

    <style>
        .custom-button {
            background-color: #76AC6D;
        }
    </style>

    <style>
        .btn_2 {
            background-color: #426B1F;
        }
    </style>

    @*Aquí finalizan los style*@
</body>
</html>
