@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row d-flex justify-content-center">

    @foreach (var mesa in (IEnumerable<dynamic>)ViewData["ListaDeMesas"])
    {
        @if (mesa.id_estado == 1)
        {
            <div class=" col-md-3" style="text-align: center; border-color: #76AC6D; border: 1px; margin: 10px">

                <div class="text-light align-content-center" style="background-color: #76AC6D; margin:0%; height: 50px; text-align: center"><p style="margin:0%">@mesa.nombre_mesa</p></div>


                <table class="table" style="border-color: #76AC6D; border: 1px">
                    <tr style="border-color: #76AC6D">
                        <th>Estado:</th>
                        <th>Disponible</th>
                    </tr>
                </table>

                <button type="button" class="btn text-light m-4" style="background-color: #76AC6D"><a style="text-decoration: none; color: inherit;" asp-area="" asp-controller="cuenta" asp-action="Index" asp-route-id_mesa="@mesa.id_mesa">Comenzar</a></button>
            </div>
        }
        @if (mesa.id_estado == 2)
        {
            <div class=" col-md-3" style="text-align: center; border-color: #E76020; border: 1px; margin: 10px">

                <div class="text-light align-content-center" style="background-color: #E76020; margin:0%; height: 50px; text-align: center"><p style="margin:0%">@mesa.nombre_mesa</p></div>


                <table class="table" style="border-color: #E76020; border: 1px">
                    <tr style="border-color: #E76020">
                        <th>Estado:</th>
                        <th>No Disponible</th>
                    </tr>
                </table>

                <button type="button" class="btn text-light" style="background-color: #E76020" asp-area="" asp-controller="" asp-action="">Ver</button>
            </div>
        }
    }

</div>
