@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row-cols-md-3">

    <div style="text-align: center; border-color: #76AC6D; border: 1px">

        <div class="text-light" style="background-color: #76AC6D; margin:0%; height: 30px; text-align: center"><p style="margin:0%">Mesa 1</p></div>
       

        <table class="table" style="border-color: #76AC6D; border: 1px">
            <tr style="border-color: #76AC6D">
                <th>Estado:</th>
                <th>Disponible</th>
            </tr>
        </table>

        <button type="button" class="btn text-light" style="background-color: #76AC6D" asp-area="" asp-controller="" asp-action="">Asignar</button>

    </div>


</div>
