@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<form>

   
   <label for="examplemesa" class="form-label">Mesa</label>
    <br/>
    <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Nombre:</label>
       <input type="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="nombrecliente">
       <div id="nombre" class="form-text">Preferencia colocar un nombre y apellido</div>
    </div>
    <div class="mb-2">
      <label for="exampleInputPassword1" class="form-label">Cantidad de personas</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <br />
    <button type="button" class="btn btn-success">Crear cuenta</button>
   
</form>