@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div style="display: flex; justify-content: center;">
    <form class="form-horizontal">
        <label>Mesa :</label>
        <div class="form-group">
            <label class="col-lg-4 control-label">Nombre:</label>
            <div class="mb-3">
                <input type="text" class="form-control" name="nombre" />
            </div>
        </div>

        <div class="form-group">
            <label class="mb-3 control-label">Cantidad de personas:</label>
            <div class="mb-3">
                <input type="text" class="form-control" name="apellido" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-success left">Crear</button>
            </div>
        </div>
    </form>
</div>